@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import "compass/css3";
* {
    /* margin: 0; */
    /* padding: 0; */
    /* border: 0; */
    box-sizing: border-box;
}

html {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    /* background: rgba(122, 157, 150, 0.3);*/
    /*aliceblue url("../images/images23.jpeg") repeat;*/
    width: 100%;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    display: block;
    /* background: #f7f5f6;*/
    font-size: 20px;
    line-height: 1.4;
    /* text-align: center; */
}

header {
  
    background: #f7f5f6;
    opacity: 1.0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    max-width: 100%;
    z-index: 1;
}

h1 {
    color: black;
    font-size: 42px;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
    padding: 2%;
}

h3 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 28px;
    text-align: center;
    margin: 20px 0 30px;
}

.box {
    /* position: relative;
    background: #edeff0;
    background: rgb(210, 233, 249);*/
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 20px;
}

.linkedtext {
    display: inline-block;
    color: whitesmoke;
    width: 30%;
    margin-left: 65px;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
}

.linkedIna {
    /* font-family: 'proxima-nova', sans-serif;*/
    /*color: rgba(0, 0, 0, 0.5);*/
    color: whitesmoke;
    text-align: left;
    text-decoration: none;
    font-size: 24px;
}

.linkedIna:hover {
    color: rgba(122, 157, 150, 1);
    text-decoration: none;
}

.resumespan {
    display: inline-block;
    color: whitesmoke;
    text-align: left;
    float: right;
    text-decoration: none;
    margin-right: 65px;
    vertical-align: middle;
}

.skillsheading {
    padding-top: 10px;
    padding-bottom: 10px;
}


/*.dog-ear:before,
.dog-ear:after {
content: '';
display: block;
right: 0;
top: 0;
position: absolute;
}
.dog-ear:after {
border-top: 65px solid transparent;
border-left: 65px solid aliceblue;
}*/


/*  background-size: cover;
width: 100%;
height: 30%;*/


/*.firstsection {
margin-top: 100px;
background: #f7f5f6;
width: 100%;
height: 30%;
background-size: cover;
}*/

.firstsection {
    /*border-top: 5px solid #f7f5f6;*/
    background: rgba(122, 157, 150, 0.3);
    width: 100%;
    height: 100%;
    display: inline-block;
}

.aboutme {
    width: 88%;
    margin: 10px auto;
    text-align: left;
}

.aboutme-inner {
    width: 100%;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
}

.emailDes {
    color: #301915;
    font-weight: bolder;
    text-decoration: none;
}

.midsection {
    /* border-top: 5px solid #f7f5f6;*/
    background: #f7f5f6;
    width: 100%;
    display: inline-block;
}

.flexdesign {
    width: 88%;
    text-align: left;
    margin: 10px auto;
}

.flexresp {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* nested items stack vertically */
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    min-height: 40em;
}

.aflex {
    margin-bottom: 20px;
    margin-right: 40px;
    margin-top: 20px;
}

a {
    background-color: transparent;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
}


}
img {
    /* max-width: 100%;*/
    /* display: block;*/
    /* border: 5px solid #ccc;*/
    /*transition: transform .2s ease-in-out;*/

    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}
.aflex img {
    /* transform: scale(1.15);*/
    /* -webkit-transform: scale(1.15); */

    -moz-transform: scale(1.15);
    /* transform: scale(1.15); */

    width: 100%;
    height: auto;
    min-width: 500px;
}
figure {
    overflow: hidden;
    position: relative;
    max-width: 500px;
    text-decoration: none;
}
figcaption {
    /* margin-top: 15px;*/

    background: rgba(0, 0, 0, 0.8);
    display: table;
    width: 100%;
    height: 310px;
    /* opacity: 0; */
    /* position: absolute; */

    right: 0;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0 auto;
}
figcaption p {
    display: table-cell;
    color: white;
    font-size: 20px;
    top: -20px;
    line-height: 1.4;
    vertical-align: middle;
    margin-left: 20px auto;
    margin-right: 20px auto;
    padding: 15%;
    text-align: center;
}
figcaption > p {
    text-decoration: none;
}
.aflex:hover figcaption {
    opacity: 1;
}

/*#viewDemo {
width: 100%;
height: 40px;
font-size: 14px;
background: #f7f5f6;
border: 1px solid white;
font-family: 'proxima-nova', sans-serif;
}*/
figcaption #viewDemo {
    display: block;
    width: 100px;
    height: 35px;
    vertical-align: middle;
    font-family: 'proxima-nova', sans-serif;
    font-size: 13px;
    color: white;
    border: 1px solid white;
    text-align: center;
    margin-left: 25%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.9);
}
.listskills {
    border-top: 5px solid #f7f5f6;
    width: 100%;
    background: rgba(122, 157, 150, 0.3);
    display: inline-block;
}
.listskills .skillset-wrapper {
    width: 88%;
    display: block;
    text-align: left;
    margin: 10px auto;
}
.listskills .skillset-wrapper .skillset {
    display: inline-block;
    width: 23%;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    line-height: 40px;
    text-align: center;
    margin-left: 3px;
    margin-right: 1%;
    margin-bottom: 30px;
}
.listskills .skillset-wrapper .skillset i {
    width: 100%;
    display: block;
    font-size: 250%;
}
.listskills .skillset-wrapper .skillset span {
    font-size: 88%;
    width: 100%;
    display: block;
    color: rgba(0, 0, 0, 0.5);
}
footer {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.copyright {
    display: inline-block;
    color: white;
    font-size: 16px;
    margin-left: 87px;
    vertical-align: middle;
}
.email {
    color: white;
    font-size: 16px;
    float: right;
    text-align: center;
    margin-right: 55px;
    vertical-align: middle;
}

/*@media screen and (min-width: 50em) {
.aflex {
width: calc(25% - 6px);
vertical-align: middle;
margin-right: 160px;
}
.aflex:nth-of-type(2n) {
margin-right: 8px;
display: block;
margin-left: auto;
margin-right: auto;
width: 80%;
}
.aflex:nth-of-type(4n) {
margin-right: 0;
}
}*/
@media only screen and (max-width: 1125px) {
    .aflex {
        /*  margin-left: auto;*/
        margin: 0px auto;
        text-decoration: none;
    }
}
@media only screen and (max-width: 591px) {
    figure {
        width: 310px;
        height: 850px;
    }
}
@media only screen and (max-width: 525px) {
    .box {
        width: 100%;
        height: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        vertical-align: middle;
    }

    .linkedtext {
        margin-left: 0px;
        float: left;
    }

    .linkedIna {
        font-size: 22px;
    }

    .footer {
        width: 100%;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        vertical-align: middle;
    }

    .copyright {
        font-size: 18px;
        margin-left: 15px;
        vertical-align: middle;
        padding-bottom: 5px;
    }

    .email {
        color: white;
        font-size: 18px;
        text-align: left;
        margin-right: 55px;
        vertical-align: middle;
    }
}
